body {
  margin: 0;
  padding: 0;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.listProductWrapper{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  
  .listProductWrapper{
    margin: 10px;
    overflow-x: auto;
  }
}


